main {
    padding: 2rem; 
  }
  .flex {
    display: flex;
    flex-flow: wrap;
    &.space-around {
      justify-content: space-between;
    }
    & button {
      display: block;
      padding: .75em 2.25em .75em .75em;
      position: relative;
      &:focus, &:hover {
        background-color: #f8f8f8;
        outline-width: 2px;
        outline-offset: 1px;
        outline-color: darkolivegreen;
        outline-style: dotted;
      }
      &:after {
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
      }
      &[aria-checked="true"] {
        border-color: darkolivegreen;
        color: darkolivegreen;
      }

    }
    &[data-segmented-control="multiple"] {
      & button[aria-checked="false"]:after {
        content: "☐";
      }
      & button[aria-checked="true"]:after {
        content: "☑";
      }
    }
    &[data-segmented-control="single"] {
      & button[aria-checked="false"]:after {
        content: "◯";
      }
      & button[aria-checked="true"]:after {
        content: "⦿";
      }
    }
  }